.login {
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
}
.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
    justify-content: center;
}
.message {
    padding: 5px;
    margin-top: 15px;
    font-size: 24px;
    color: red;
    border-radius: 5px;
    box-shadow: 2px 2px 4px;
}