.login {
    padding: 20px;
    margin: 20px;

    /*margin: 20px 0;*/
}
.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.inputForm {
    margin: 20px;
    padding: 20px;
}